<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New User</title>
    <style>
        * {
            font-size: 1.5rem;
            padding: 3px;
        }
    </style>
</head>
<body>
    <h4>You are about to Enroll</h4>
    <form method="post" action="/user">
        <input type="text" name="username" placeholder="enter username" />
        <br><br>
        <input type="text" name="email" placeholder="enter email" />
        <br><br>
        <input type="password" name="password" placeholder="enter password" />
        <button>Submit</button>
    </form>
</body>
</html>